# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
.venv310/
env/

# Django
db.sqlite3
media/

# Static files (optional if generated)
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# tem_zip file 
templates.zip

# Logs
*.log